html
  head
    title NoteTaker - #{title}
    block scripts
    style
      include style.css
  body
    div#navigation
      ul
        li
          a(href="/") home
        li
          a(href="/about") about
    block content
